body {
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    .copied-success {
        position: fixed;
        right: 1rem;
        left: 1rem;
        bottom: -100%;
        width: calc(100% - 2rem);
        transition: all .5s ease-in-out;

        &.visible {
            bottom: 0;
        }
    }

    .copy {
        cursor: pointer;
    }

    .dashboard {
        background: #f3f6f9;
        font-family: 'Poppins', serif;

        .navbar {

        }

        .tab {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;

            .tab__link {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                padding: 1.5rem;
                background-color: #f0f3f5;
                border-right: 1px solid #e4e6ef;
                font-size: 1rem;
                color: #7e8299;
                font-weight: 600;
                transition: background-color .3s ease-in-out;

                &.border-none {
                    border: none;
                }

                &.border-radius-top-left {
                    border-top-left-radius: .42rem;
                }

                &.border-radius-top-right {
                    border-top-right-radius: .42rem;
                }

                .tab__link__description {
                    font-size: .8rem;
                    color: #b5b5c3;
                }

                &, * {
                    text-decoration: none;
                }
            }

            &.current {
                .tab__link {
                    background-color: #fff;
                }
            }

            &:hover {
                .tab__link {
                    background-color: rgba(255,255,255,.5);
                }
            }
        }

        .tab__content {
            border: none;

            .card-header {
                background: #fff;
                color: #7e8299;
                font-size: 1rem;
                font-weight: 600;
            }

            .card-body {
                border: 1px solid #ebedf3;
                border-radius: .42rem;
            }
        }
    }

    .btn-primary {
        color: #fff;
        background-color: #8950fc;
        border-color: #8950fc;
    }
}
