body {
  background-image: url("/img/backround.jpg");
  background-size: cover;
  background-position: 75%;
}

body .backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

body .main {
  z-index: 2;
}

body h1,
body p {
  text-align: center;
  color: #fff;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}

body h1 {
  font-size: 4rem;
}

body p {
  font-size: 1.5rem;
}

body .home-link {
  display: block;
  width: 200px;
  margin: 0 0.5rem;
  padding: 13px 26px;
  text-align: center;
  background: #5d47d7;
  border: 1px solid #5d47d7;
  border-radius: 3px;
  color: #fff;
  opacity: 0.9;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in-out;
}

body .home-link:hover {
  background: none;
  border: 1px solid #fff;
}

body .home-link.login {
  background: none;
  border: 1px solid #fff;
}

